@import url('https://fonts.googleapis.com/css2?family=Festive&family=Great+Vibes&family=Poppins:wght@100;200;300;400;600;700;900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --text-color: #fff;
    --bg-color: #000;
    --main-color: #ffa343;

    --h1-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: transparent;
    padding: 27px 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: all .50s ease;
}

.logo {
    font-size: 33px;
    color: var(--text-color);
    font-weight: 700;
}

.logo span {
    color: var(--main-color);
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
    margin: 15px 22px;
    transition: all .50s ease;
}

.navbar a:hover {
    color: var(--main-color);
}

.h-right {
    display: flex;
    align-items: center;
}

.h-right a:first-child {
    color: var(--text-color);
    font-size: var(--p-font);
    margin-right: 12px;
}

.h-right a {
    vertical-align: middle;
    font-size: 26px;
    color: var(--text-color);
    margin-right: 13px;
    margin-left: 10px;
    transition: all .50s ease;
}

.h-right a:hover {
    color: var(--main-color);
    transform: translateY(-3px);
}

#menu-icon {
    color: var(--text-color);
    font-size: 30px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.hero-bg {
    background-image: url(images/Background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}